<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MadLibs</title>
  <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
</head>
<body>
  @* THE RESULTING MADLIB STORY *@
  <h1 class="container">Please Excuse:</h1>
  <div class="container">
    <p><b>@Model.Name</b> is sick,</p>
    <p>they have unfortunately come down with the <b>@Model.BodyPart</b> flu.</p>
    <p>Please make sure they drink more <b>@Model.Fluid</b>,</p>
    <p>and take <b>@Model.Substance</b> as needed.</p>
    <p>Signed,</p>
    <p>A Real Doctor</p>
  </div>
  <div class="container">
    <a href="/">Go Back to Choices</a>
  </div>
</body>
</html>